.container {
  height: 316px;
  /*background-image: url(/contact-img/maps.png);*/
}

.wrapper-footer {
  padding: 45px 0px;
}

.wrapper-brands {
  padding: 57px 0px;
  width: 725px;
}

.wrapper-socials {
  width: 1055px;
}

.wrapper-head {
  z-index: 1;
  margin-left: -1272px;
}

.icons-c {
  background-image: url(/contact-img/bg.png);
  margin: 38px 0 250px 0;
  display: flex;
  margin-right: 83px;
  align-items: center;
}

.icons-c img {
  height: 15px;
}

.icons-c > a:not(:first-child) {
  margin-left: 10px;
}

.icons-c > a:first-child {
  margin-left: 21px;
}

.icons-c > a:last-child {
  margin-right: 48px;
}

.f-icon {
  width: 351px;
  height: 135px;
}

.tw-icon {
  width: 351px;
  height: 135px;
}

.pin-icon {
  width: 351px;
  height: 135px;
}

.sidebar-contact {
  font-family: "Roboto", sans-serif;
  /* margin: 0 129px 0 98px; */
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.sidebar-c {
  font-size: 14px;
  align-content: center;
  width: 230px;
  background-color: transparent;
  margin: 0 72px 0 0;
}

.sidebar-c > h4 {
  margin: 0;
  background-color: #333333;
  color: #ffffff;
  padding: 25px 25px 25px 35px;
}

.annonce-c {
  margin: 53px 0px 0 -8px;
  width: 240px;
  height: 272px;
  background-color: #e0e0e0;
  text-align: start;
}

.annonce-c > h4 {
  padding: 111px 0px 0px 125px;
  line-height: 35px;
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  color: #333333;
}

.contact h6 {
  font-family: "Roboto";
  font-style: normal;
  color: #989898;
  font-size: 12px;
  width: 245px;
  height: 20px;
  margin: 14px 0;
}

.contact a {
  font-family: "Roboto";
  font-style: normal;
  text-decoration-line: none;
  color: #989898;
  font-size: 12px;
  width: 245px;
  height: 20px;
}

.contact h6 span {
  background-color: yellow;
}

.contact-form {
  font-family: "Roboto";
  font-style: normal;
  color: #333333;
  font-size: 12px;
  /*width: 365px;*/
}

.contact-form p {
  margin-bottom: 5px;
}

.contact {
  display: flex;
  /*width: 722px;*/
  flex-direction: column;
}

.contact-adress {
  display: flex;
  margin: 44px 25px 0 -33px;
}

.contact-form input {
  border: solid;
  border-width: thin;
  border-color: #989898;
  background-color: white;
  width: 311px;
  height: 26px;
  padding: 0;
  margin: 0 0 14px 0;
}

.contact-form input:focus {
  outline: none;
  padding-left: 20px;
}

.contact-form input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 10px;
  color: #333333;
  padding-left: 10px;
}

.contact-form input:-moz-placeholder {
  font-family: "Roboto";
  font-size: 10px;
  color: #333333;
  padding-left: 10px;
}

.contact-form textarea {
  border: solid;
  border-width: thin;
  resize: none;
  border-color: #989898;
  background-color: white;
  width: 311px;
  height: 134px;
}

.contact-form input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  color: #aaaaaa;
  padding-left: 20px;
}

.contact-form input:-moz-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  color: #aaaaaa;
  padding-left: 20px;
}

.brands-c {
  width: 783px;
  height: 150px;
  margin: -4px -43px;
  background-color: #ffffff;
  align-content: center;
}

.brands-c img {
  margin: 63px 72px;
  width: 638px;
}

.adress {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}

.adress-info {
  display: flex;
  flex-direction: column;
}

.adress-info h3 {
  font-weight: 800;
  font-size: 17px;
  margin: 19px 21px;
}

.map-marker {
  margin: -7px 0 0 20px;
}

.map-marker p {
  font-style: normal;
  font-size: 12px;
  color: #777777;
  margin: -27px 0 0 24px;
  width: 155px;
}

.map-marker img {
  width: 15px;
}

.phone-alt {
  margin: 7px 0 0 30px;
}

.phone-alt a {
  font-style: normal;
  font-size: 17px;
  color: #333333;
  margin: 0 0 0 9px;
}

.phone-alt img {
  width: 13px;
}

.map-info {
  font-style: normal;
  font-size: 12px;
  color: #777777;
  margin: 4px 0 9px 23px;
  width: 167px;
}

.info {
  font-style: normal;
  font-size: 14px;
  color: #333333;
  margin: 0px 80px 205px 29px;
  width: 287px;
}

.envelope {
  margin: 7px 0 0 30px;
}

.envelope a {
  font-style: normal;
  font-size: 14px;
  color: #333333;
  margin: 0 0 0 9px;
  text-decoration: underline;
}

.envelope img {
  width: 13px;
}

.sep {
  height: 300px;
  margin-top: 73px;
  margin-left: 20px;
}
