@font-face {
  font-family: "Raleway Heavy";
  src: url("/fonts/Raleway_Heavy/Raleway-Heavy.eot") format("eot"),
    url("/fonts/Raleway_Heavy/Raleway-Heavy.woff") format("woff"),
    url("/fonts/Raleway_Heavy/Raleway-Heavy.ttf") format("truetype"),
    url("/fonts/Raleway_Heavy/Raleway-Heavy.svg") format("svg");

  font-family: "FontAwesome";
  src: url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-brands-400.eot")
      format("eot"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-brands-400.svg")
      format("svg"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-brands-400.ttf")
      format("truetype"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-brands-400.woff")
      format("woff"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-brands-400.woff2")
      format("woff2"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-solid-900.eot")
      format("eot"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-solid-900.svg")
      format("svg"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-solid-900.ttf")
      format("truetype"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-solid-900.woff")
      format("woff"),
    url("/fonts/fontawesome-free-5.14.0-web/webfonts/fa-solid-900.woff2")
      format("woff2");
}
/* вынес в определение шрифта */
* {
  box-sizing: border-box;
  justify-content: space-between;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  /* max-width: 1400px; */
}

header {
  margin: 0;
  background-color: #abeafa;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 25px;
  margin-left: 135px;
}

.logo img {
  width: 110px;
}

.icons {
  margin-top: 45px;
  display: flex;
  margin-right: 130px;
}
/* тут обрати внимание на вложенный селектор */
.icons img {
  height: 15px;
}
/* обрати внимание на этот стиль, тут работает псевдокласс */
.icons a:not(:first-child) {
  margin-left: 10px;
}

.content-site-top {
  height: 500px;
  background-color: #abeafa;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  /* padding-left: 150px;
  padding-right: 200px; */
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.wrapper-sie-top {
  padding: 0 50px 0 90px;
}

.wrapper-socials {
  flex-direction: column;
}

.yellow_block {
  font-family: "Raleway", sans-serif;
  width: 240px;
  height: 270px;
  background-color: #fff51f;
  padding: 40px 10px 50px 20px;
  margin: 175px 0 0 -15px;
}

.yellow_block h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.yellow_block p {
  line-height: 15px;
  margin-top: -5px;
  margin-bottom: 0px;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}

.slide-content {
  font-family: "Raleway", sans-serif;
  width: 360px;
  height: 230px;
  background-color: transparent;
  margin: 45px 45px 0 0;
}

.slide-content h3 {
  line-height: 35px;
  font-size: 44px;
  color: #fff51f;
  font-weight: 800;
  margin-bottom: 0;
}

.slide-content p {
  width: 80%;
  display: inline-block;
  font-size: 18px;
  color: #fff51f;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 68px;
}

.slide-button {
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: normal;
  border: 0px;
  margin-top: -20px;
  font-weight: 900;
  height: 49px;
  width: 124px;
  background-color: #fff51f;
}

.sidebar-product {
  font-family: "Roboto", sans-serif;
  margin: -14px 129px 0 148px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.sidebar {
  font-size: 14px;
  align-content: center;
  width: 230px;
  background-color: transparent;
  margin: 0 23px 0 25px;
}

.menu {
  /* убрал ширину, чтобы позиции меню не были уже, чем сама надпись */
  /* width: 270px; */
  margin: 0px;
  list-style: none;
  font-size: 14px;
  font-weight: 800;
  padding: 0px;
  background-color: #26d2fc;
}

.menu a {
  text-decoration: none;
}

.menu li {
  padding: 6px 0px 9px 11px;
}

.menu > li > span {
  padding: 22px;
}

.menu .submenu {
  display: none;
  width: 155px;
  color: #333333;
  background-color: #26d2fc;
}

ul li {
  display: block;
}

.menu li:hover {
  color: #ffffff;
  background-color: #333333;
  cursor: pointer;
}

.parent-submenu:hover > .submenu {
  display: block;
}

.parent-submenu:hover {
  position: relative;
}

.submenu {
  position: absolute;
  top: 0;
  padding: 0px;
  left: 100%;
  width: 165px;
  z-index: 3;
}
/* если before, то лучше используй контент. https://graphemica.com/ тут можешь найти код иконок для css */
.submenu li:before {
  content: "\0025A0";
  padding: 0 5px;
}

.sidebar > h4 {
  margin: 0;
  background-color: #333333;
  color: #ffffff;
  padding: 25px 25px 25px 35px;
}

.annonce {
  margin: -9px 0px 0 -12px;
  width: 240px;
  height: 272px;
  background-color: #e0e0e0;
  text-align: start;
}

.annonce > h4 {
  padding: 111px 0px 0px 125px;
  line-height: 35px;
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  color: #333333;
}

.products {
  margin: 0 40px 0 0;
  flex-direction: column;
}

.products h3 {
  padding: 3px 0px 0 24px;
  margin: 20px 0 22px 0;
}

.new-products {
  width: 780px;
  background-color: #f8f8f8;
  color: #707070;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
/* родительский класс, который определяет расположение элементов */
.new-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
}
/*  */

.new-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.new-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 13px;
  margin-left: 22px;
}

.price {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 17px;
  margin-right: 23px;
  text-align: right;
}

/*.name, .price {
  display: flex;
  justify-content: space-between;
}*/

.product {
  position: relative;
}

/* ------------- */
/* margin сама там дальше проставляй, тут я на гляз сейчас делаю. размеры шрифта и все остальное тоже на тебе */
.product .name {
  width: 70%;
  word-break: break-all;
}

.product .name,
.text-product .price {
  margin-top: 12px;
}

.text-product .price {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
}

.text-product .price p:nth-child(2n) {
  margin: 0;
}

.triangle-new::after {
  content: "";
  position: absolute; /* Абсолютное позиционирование */
  /* поскольку это квадрат, его надо смещать на его размер (бордера) */
  right: -36px;
  top: -33px;
  border: 30px solid transparent;
  border-top: 30px solid red; /* Добавляем треугольник */
  transform: rotate(225deg);
}
.triangle-new::before {
  content: "NEW";
  position: absolute; /* Абсолютное позиционирование */
  right: 0px;
  top: 4px;
  /* нужно для того, чтобы отобразить выше треугольника */
  z-index: 122;
  font-size: 9px;
  color: #fff;
}

.triangle-hot::after {
  content: "";
  position: absolute;
  right: -36px;
  top: -33px;
  border: 30px solid transparent;
  border-top: 30px solid yellow;
  transform: rotate(225deg);
}
.triangle-hot::before {
  content: "HOT";
  position: absolute;
  right: 0px;
  top: 4px;
  z-index: 122;
  font-size: 9px;
  color: black;
}

.product p span {
  color: red;
  text-decoration: line-through;
  font-size: 14px;
}

.new-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}

.top-products {
  width: 780px;
  background-color: #f8f8f8;
  color: #707070;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
}

.top-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
}

.top-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.top-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.top-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}

.sale-products {
  width: 780px;
  background-color: #f8f8f8;
  color: #707070;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

.sale-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
}

.sale-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.sale-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.sale-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}

.brands {
  width: 1055px;
  height: 150px;
  margin: 0 auto;
  background-color: #ffffff;
  align-content: center;
}

.brands img {
  margin: 70px 14px;
  width: 1029px;
}

.wrapper-socials {
  width: 1055px;
}

.social-content {
  margin: 0 auto;
  background-color: #eaeaea;
}

.instagram {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
}

.instagram p {
  font-family: "Roboto";
  font-style: italic;
  color: black;
  font-size: 22px;
  font-weight: 800;
}

.instagram span {
  font-size: 18px;
}

.instagram .icon {
  display: flex;
  justify-content: center;
  padding-left: 33px;
}

.livello img:not(:first-child) {
  margin-left: 8px;
}

.livello img {
  width: 165px;
}

.icon img {
  margin-right: 10px;
  object-fit: none;
}

.social {
  padding-top: 50px;
}

.f-icon {
  background-color: #3b5997;
  width: 348px;
  height: 137px;
  float: left;
}

.tw-icon {
  background-color: #3fccfd;
  width: 351px;
  height: 137px;
  float: left;
}

.pin-icon {
  background-color: #cb2027;
  width: 351px;
  height: 137px;
  float: left;
}

.f-icon img {
  margin-top: 39px;
  margin-left: 160px;
}

.tw-icon img {
  margin-top: 44px;
  margin-left: 145px;
}

.pin-icon img {
  margin-top: 38px;
  margin-left: 145px;
}

.wrapper-footer {
  padding: 44px 0px;
}

.info-block {
  background-color: #373737;
  width: 1055px;
  margin: 0 auto;
  display: flex;
}

.menu-block {
  display: flex;
  justify-content: space-between;
}

.menu-block h3 {
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: white;
}

.newsletter h3 {
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: white;
  padding: 0 0 0 9px;
}

.about h3 {
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: white;
  margin: 18px 0 -8px 0;
}

.menu-block a {
  font-family: "Roboto";
  font-style: normal;
  font-size: 9px;
  color: white;
  text-decoration-line: none;
  padding-top: 5px;
}

.category {
  width: 200px;
  padding-left: 20px;
}

.category div {
  display: flex;
  flex-direction: column;
}

.account {
  width: 177px;
}

.account div {
  display: flex;
  flex-direction: column;
}

.support {
  width: 160px;
}

.support div {
  display: flex;
  flex-direction: column;
}

.newsletter {
  width: 255px;
}

.newsletter p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 11px;
  color: white;
  margin: -14px 0px 12px 8px;
}

.newsletter input {
  border: none;
  background-color: yellow;
  width: 163px;
  height: 28px;
  padding: 0;
  margin: 0 0 0 9px;
}

input::-webkit-input-placeholder {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  color: #333333;
  padding-left: 20px;
}

input:-moz-placeholder {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  color: #333333;
  padding-left: 20px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.newsletter button {
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  border: 0px;
  height: 28px;
  width: 62px;
  background-color: black;
  color: white;
  padding: 0;
  margin-left: -3px;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
  padding-left: 20px;
}

.payment {
  display: flex;
  justify-content: space-between;
  width: 237px;
  padding-top: 38px;
}

.payment img {
  width: 35px;
}

.about {
  width: 273px;
  padding: 1px 0 0 32px;
}

.about .text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 11px;
  color: white;
  margin: 10px 0 -5px 0;
}

.about .email {
  color: yellow;
}

.about span {
  padding-left: 10px;
}

.about .phone {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
  margin: 13px 0px -7px 0px;
}

.number a {
  color: white;
  text-decoration: none;
}

.about .mail {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

.email a {
  color: yellow;
}

footer {
  width: 100%;
  background-color: #373737;
  flex-direction: column;
}

.foot-copyright {
  width: 100%;
  background-color: #333333;
}

.foot {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  color: #dad9d9;
  font-size: 11px;
  margin-left: 75px;
}

.copyright img {
  margin-right: 5px;
}

.icons-foot {
  margin-top: 16px;
  margin-right: 96px;
  display: flex;
  color: white;
}

.icons-foot span {
  margin-left: 10px;
  object-fit: none;
}

.facebook-foot::before {
  content: "\f39e";
  font-family: "FontAwesome";
  color: white;
}

.twitter-foot::before {
  content: "\f099";
  font-family: "FontAwesome";
  color: white;
}

.pinterest-foot::before {
  content: "\f231";
  font-family: "FontAwesome";
  color: white;
}

.googleplus-foot::before {
  content: "\f0d5";
  font-family: "FontAwesome";
  color: white;
}

.tumblr-foot::before {
  content: "\f173";
  font-family: "FontAwesome";
  color: white;
}

.instagram-foot::before {
  content: "\f16d";
  font-family: "FontAwesome";
  color: white;
}

.rss-foot::before {
  content: "\f09e";
  font-family: "FontAwesome";
  color: white;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
