.container {
  height: 316px;
}

.wrapper-footer {
  padding: 45px 0px;
}

.wrapper-socials {
  width: 1055px;
}

.sidebar-products {
  font-family: "Roboto", sans-serif;
  margin: 0 90px 5px 148px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.sidebar-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  align-content: center;
  width: 240px;
  background-color: transparent;
  margin: 0 27px 0 2px;
}

.menu {
  margin: 0px;
  list-style: none;
  font-size: 14px;
  font-weight: 800;
  padding: 0px;
  background-color: #26d2fc;
}

.menu a {
  text-decoration: none;
}

.menu li {
  padding: 6px 0px 9px 11px;
}

.menu > li > span {
  padding: 22px;
}

.menu .submenu {
  display: none;
  width: 155px;
  color: #333333;
  background-color: #26d2fc;
}

ul li {
  display: block;
}

.menu li:hover {
  color: #ffffff;
  background-color: #333333;
  cursor: pointer;
}

.parent-submenu:hover > .submenu {
  display: block;
}

.parent-submenu:hover {
  position: relative;
}

.submenu {
  position: absolute;
  top: 0;
  padding: 0px;
  left: 100%;
  width: 165px;
  z-index: 3;
}
/* если before, то лучше используй контент. https://graphemica.com/ тут можешь найти код иконок для css */
.submenu li:before {
  content: "\0025A0";
  padding: 0 5px;
}

.sidebar-p > h4 {
  margin: 0;
  background-color: #333333;
  color: #ffffff;
  padding: 25px 25px 25px 35px;
}

.annonce-p {
  margin-top: 1033px;
  width: 241px;
  height: 272px;
  background-color: #e0e0e0;
  text-align: start;
}

.annonce-p > h4 {
  padding: 112px 0 0 123px;
  line-height: 35px;
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: italic;
  font-size: 36px;
  color: #333333;
}

.product-p {
  flex-direction: column;
}

.product-p h6 span {
  background-color: yellow;
}

.product-selected {
  margin: 0;
  padding-top: 30px;
}

.product-selected h6 {
  margin: 0 15px;
}

.viewed-product {
  margin-top: 5px;
}

.item-prevue {
  margin: 32px 6px;
}

.item-bg {
  height: 340px;
}

.prevue {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.prevue img {
  width: 63px;
}

.prevue img:not(:first-child) {
  margin-left: 25px;
}

.item {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}

.item-description {
  margin-left: 33px;
}

.item-description h4 {
  font-size: 24px;
  font-weight: 800;
  margin: 34px 0;
}

.item-description .price {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0;
}

.item-description .overview {
  font-size: 13px;
  margin: 12px 0 6px 0;
}

.description {
  width: 447px;
  font-size: 12px;
  margin: 0 0 2px 0;
}

.hr {
  margin: 0 29px;
  width: 347px;
}

.add-button {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  border: 0px;
  height: 44px;
  width: 118px;
  background-color: #fb4d01;
  color: white;
  font-size: 16px;
  margin: 13px 111px;
}

.pr-description {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  color: #808080;
  border-width: 1px;
  border-style: solid;
  padding: 0 16px;
  width: 790px;
}

.pr-description p:not(:last-child) {
  margin: 6px 0 21px 0;
}

.text-description {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  background-color: #26d2fc;
  height: 32px;
  width: 144px;
  text-align: center;
  padding-top: 10px;
  margin: 0 0 0 18px;
}

.description-content {
  margin-top: 6px;
}

.product-p h3 {
  font-family: "Raleway";
  color: #333333;
  font-style: italic;
  font-weight: 800;
  font-size: 30px;
  margin: 31px 0 21px 0;
}

.viewed-item {
  font-family: "Roboto";
  font-style: normal;
  color: #989898;
  font-size: 11px;
  width: 245px;
  height: 20px;
}

.viewed-item a {
  font-family: "Roboto";
  font-style: normal;
  text-decoration-line: none;
  color: #989898;
  font-size: 12px;
  width: 245px;
  height: 20px;
}

.like-products {
  width: 786px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}

.like-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 0;
}

.like-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.like-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 13px;
  margin-left: 22px;
}

.price {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 17px;
  margin-right: 23px;
  text-align: right;
}

.name,
.price {
  display: flex;
  justify-content: space-between;
}

.product .name {
  width: 70%;
  word-break: break-all;
}

.product .name,
.text-product .price {
  margin-top: 15px;
}

.text-product .price {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
}

.text-product .price p:nth-child(2n) {
  margin: 0;
}

.product p span {
  color: red;
  text-decoration: line-through;
  font-size: 14px;
}

.like-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}

/*.product {
  position: relative;
}*/

/*.triangle-new::after {
    content: "";
    position: absolute; Абсолютное позиционирование 
    поскольку это квадрат, его надо смещать на его размер (бордера)
    right: -35px;
    top: -35px;
    border: 35px solid transparent; Прозрачные границы
    border-top: 35px solid red; Добавляем треугольник
    transform: rotate(225deg);
}*/

/*.triangle-new::before {
    content: "NEW";
    position: absolute; Абсолютное позиционирование
    right: 5px;
    top: 5px;
    нужно для того, чтобы отобразить выше треугольника
    z-index: 122;
    font-size: 12px;
    color: #fff;
}*/

/*.triangle-hot::after {
    content: "";
    position: absolute;
    right: -35px;
    top: -35px;
    border: 35px solid transparent;
    border-top: 35px solid yellow;
    transform: rotate(225deg);
}*/

.viewed-products {
  width: 786px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.viewed-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 0;
}

.viewed-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.viewed-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.viewed-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}

.f-icon {
  width: 351px;
  height: 135px;
}

.tw-icon {
  width: 351px;
  height: 135px;
}

.pin-icon {
  width: 351px;
  height: 135px;
}