header {
  height: 316px;
}

.wrapper-socials {
  width: 1055px;
}

.dropdown {
  margin: 2px -40px 0 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #abeafa;
  width: 40px;
  top: 60px;
  right: 171px;
}

.dropbtn {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: white;
  cursor: pointer;
  width: 40px;
  padding-left: 8px;
}

.dropbtn::after {
  background: rgba(0, 0, 0, 0) url("/shop-grid-img/Arrow\ Down.png") no-repeat
    scroll center center;
  content: "";
  height: 16px;
  position: absolute;
  right: 163px;
  top: 45px;
  width: 16px;
}

.dropdown-content a {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: white;
  text-decoration: none;
  display: block;
  margin-left: 15px;
}

.dropdown-content a:hover {
  background-color: #eaeaea;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.f-icon {
  width: 351px;
  height: 135px;
}

.tw-icon {
  width: 351px;
  height: 135px;
}

.pin-icon {
  width: 351px;
  height: 135px;
}

.sidebar-product {
  padding-top: 13px;
}

.annonce-grid {
  margin: 49px 0px 0 -12px;
  width: 240px;
  height: 272px;
  background-color: #e0e0e0;
  text-align: start;
}

.annonce-grid > h4 {
  padding: 111px 0px 0px 125px;
  line-height: 35px;
  font-family: "Raleway Heavy";
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  color: #333333;
}


.viewed-products {
  width: 780px;
  background-color: #f8f8f8;
  color: #707070;
  font-style: italic;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.viewed-item {
  font-family: "Roboto";
  font-style: normal;
  color: #989898;
  font-size: 12px;
  width: 245px;
  height: 20px;
  padding: 2px 16px;
}

.viewed-item a {
  font-family: "Roboto";
  font-style: normal;
  text-decoration-line: none;
  color: #989898;
  font-size: 12px;
  width: 245px;
  height: 20px;
}

.products h6 span {
  background-color: yellow;
}

.viewed-products .cards-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 57px 0 54px 4px;
}

.viewed-products .product {
  height: 285px;
  width: 240px;
  background-color: #ffffff;
  margin: 0px 0 27px 0;
}

.viewed-products .product .text-product {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 13px;
  margin-left: 22px;
}

.price {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 17px;
  margin-right: 14px;
  text-align: right;
}


.product .name,
.text-product .price {
  margin-top: 8px;
}

.viewed-products img {
  padding: 10px 10px 0 10px;
  width: 243px;
}
